{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Ministry of Health</h1>
    <p class="lead">Hospital HMIS</p>
    <p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Django gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://djangobook.com/django-tutorials/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>OPD 1st Attendance</h2>
        <span style="font-size: 72px; color: Dodgerblue;">
            <a  href="/create_opd_event"><i class="fas fa-plus-circle"></i></a> 
        </span>
        <span style="font-size: 72px; color: Dodgerblue;">
            <a  href="/list_opd_events"<i class="fas fa-list"></i></a>
        </span>
    </div>
    <div class="col-md-4">
        <h2>IPD Discharge Cases</h2>
        <span style="font-size: 72px; color: Dodgerblue;">
            <a  href="/create_opd_event"><i class="fas fa-plus-circle"></i></a>
        </span>
        <span style="font-size: 72px; color: Dodgerblue;">
            <a  href="/list_opd_events"><i class="fas fa-list"></i></a>
        </span>
    </div>
</div>

{% endblock %}
