{% extends "app/layout.html" %}

{% load staticfiles %}

{% block content %}
<div class="container body-content">
    <div class="jumbotron text-center">
        <img src="{% static 'app/img/Coat_of_Arms_96x110.png' %}" alt="Republic of Zambia Coat of Arms"/>
        <h2 class="font-weight-bold">MINISTRY OF HEALTH</h2>
        <p class="lead">Hospital HMIS</p>
        <p><a href="https://www.moh.gov.zm" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                This tool is for capturing OPD and IPD events offline. The tool is able to export a CSV File for upload into the National DHIS2 instance
            </p>
            <p><a class="btn btn-default" href="https://dhis2.moh.gov.zm/hmis">DHIS2 Instance&raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>OPD 1st Attendance</h2>
            <span style="font-size: 72px; color: Dodgerblue;">
                <a  href="/create_opd_event"><i class="fas fa-plus-circle"></i></a> 
            </span>
            <span style="font-size: 72px; color: Dodgerblue;">
                <a  href="/list_opd_events"<i class="fas fa-list"></i></a>
            </span>
        </div>
        <div class="col-md-4">
            <h2>IPD Discharge Cases</h2>
            <span style="font-size: 72px; color: Dodgerblue;">
                <a  href="/create_ipd_event"><i class="fas fa-plus-circle"></i></a>
            </span>
            <span style="font-size: 72px; color: Dodgerblue;">
                <a  href="/list_ipd_events"><i class="fas fa-list"></i></a>
            </span>
        </div>
    </div>
</div>
{% endblock %}
