{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<h1>OPD 1st Attendance Event</h1>

<p>Reference Number: {{ object.reference_number }}</p>
<p>Date of Birth: {{ object.date_of_birth }}</p>
<p>Age in Days: {{ object.age_in_days }}</p>
<p>Age in Months: {{ object.age_in_months }}</p>
<p>Age in Years: {{ object.age_in_years }}</p>
<p>Date of Attendance: {{ object.date_of_attendance }}</p>
<p>Report Date: {{ object.report_date }}</p>
<p>Location: {{ object.location }}</p>
<p>Gender: {{ object.gender }}</p>
<p>Diagnosis: {{ object.diagnosis }}</p>
<p>Secondary Diagnosis: {{ object.secondary_diagnosis }}</p>
<p>Other Diagnosis: {{ object.other_diagnosis }}</p>
<p>Referred From: {{ object.referred_from }}</p>
<p>Referred To: {{ object.referred_to }}</p>
<p>Event Completed: {{ object.event_completed }}</p>
<p>Comment: {{ object.comment }}</p>

{% endblock %}