{% extends "app/layout.html" %}

{% load widget_tweaks %}

{% block content %}
<div class="container body-content">
<form id="create_opd_event_form" class="post-form border border-primary bg-sucess" method="post" action="/create_opd_event"  autocomplete="off">
    {% csrf_token %}
    <div class="container">
        <br>
        <div class="form-group row">  
            <label class="col-sm-1 col-form-label"></label>  
            <div class="col-sm-4">  
                <h3>OPD 1st Attendance Event</h3>  
            </div>  
        </div>  

        <div class="form-group row striped">  
            <label class="col-sm-2 col-form-label" for="{{ form.reference_number.id_for_label }}">{{ form.reference_number.label }}</label>
            <div class="col-sm-4">  
                {{ form.reference_number|add_class:"form-control" }} 
            </div>
            <div class="col-sm-4 text-danger">  
                {{ form.reference_number.errors }} 
            </div>
        </div>

        <div class="form-group row">  
            <label class="col-sm-2 col-form-label" for="{{ form.date_of_birth.id_for_label }}">{{ form.date_of_birth.label }}</label>
            <div class="col-sm-4"> 
                {{ form.date_of_birth|add_class:"form-control" }} 
            </div>
            <div class="col-sm-4 text-danger"> 
                {{ form.date_of_birth.errors }} 
            </div>
        </div>

        <div class="form-group row striped">  
            <label class="col-sm-2 col-form-label" for="{{ form.age_in_days.id_for_label }}">{{ form.age_in_days.label }}</label>
            <div class="col-sm-4"> 
                {{ form.age_in_days|add_class:"form-control" }} 
            </div>
            <div class="col-sm-4 text-danger">  
                {{ form.age_in_days.errors }} 
            </div>
        </div>

        <div class="form-group row">
            <label  class="col-sm-2 col-form-label" for="{{ form.age_in_months.id_for_label }}">{{ form.age_in_months.label }}</label>
            <div class="col-sm-4"> 
                {{ form.age_in_months|add_class:"form-control" }} 
            </div>
            <div class="col-sm-4 text-danger">  
                {{ form.age_in_months.errors }} 
            </div>
        </div>

        <div class="form-group row striped">
            <label class="col-sm-2 col-form-label" for="{{ form.age_in_years.id_for_label }}">{{ form.age_in_years.label }}</label>
            <div class="col-sm-4"> 
                {{ form.age_in_years|add_class:"form-control" }} 
            </div>
            <div class="col-sm-4 text-danger">  
                {{ form.age_in_years.errors }} 
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="{{ form.date_of_attendance.id_for_label }}">{{ form.date_of_attendance.label }}</label>
            <div class="col-sm-4">
                 {{ form.date_of_attendance|add_class:"form-control" }} 
            </div>
            <div class="col-sm-4 text-danger"> 
                {{ form.date_of_attendance.errors }} 
            </div>
        </div>

        <div class="form-group row striped">
            <label class="col-sm-2 col-form-label" for="{{ form.location.id_for_label }}">{{ form.location.label }}</label>
            <div class="col-sm-4">
                 {{ form.location|add_class:"form-control" }} 
            </div>
            <div class="col-sm-4 text-danger">  
                {{ form.location.errors }} 
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="{{ form.gender.id_for_label }}">{{ form.gender.label }}</label>
            <div class="col-sm-4">
                {{ form.gender|add_class:"list-unstyled" }} 
            </div>
            <div class="col-sm-4 text-danger">  
                {{ form.gender.errors }} 
            </div>
        </div>

        <div class="form-group row striped">
            <label class="col-sm-2 col-form-label" for="{{ form.diagnosis.id_for_label }}">{{ form.diagnosis.label }}</label>
            <div class="col-sm-4">
                {{ form.diagnosis|add_class:"form-control" }} 
            </div>
            <div class="col-sm-4 text-danger">  
                {{ form.diagnosis.errors }} 
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="{{ form.secondary_diagnosis.id_for_label }}">{{ form.secondary_diagnosis.label }}</label>
            <div class="col-sm-4">
                {{ form.secondary_diagnosis|add_class:"form-control" }} 
            </div>
            <div class="col-sm-4 text-danger">  
                {{ form.secondary_diagnosis.errors }} 
            </div>
        </div>

        <div class="form-group row striped">
            <label class="col-sm-2 col-form-label" for="{{ form.other_diagnosis.id_for_label }}">{{ form.other_diagnosis.label }}</label>
            <div class="col-sm-4">
                {{ form.other_diagnosis|add_class:"form-control" }}
            </div>
            <div class="col-sm-4">
                {{ form.other_diagnosis.errors }} 
            </div>
        </div>
  
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="{{ form.referred_from.id_for_label }}">{{ form.referred_from.label }}</label>
            <div class="col-sm-4">
                 {{ form.referred_from|add_class:"form-control" }} 
            </div>
            <div class="col-sm-4">
                {{ form.referred_from.errors }} 
            </div>
        </div>

        <div class="form-group row striped">
            <label class="col-sm-2 col-form-label" for="{{ form.referred_to.id_for_label }}">{{ form.referred_to.label }}</label>
            <div class="col-sm-4">
                 {{ form.referred_to|add_class:"form-control" }} 
            </div>
            <div class="col-sm-4">
                {{ form.referred_to.errors }} 
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="{{ form.event_completed.id_for_label }}">{{ form.event_completed.label }}</label>
            <div class="col-sm-4">
                {{ form.event_completed }} 
            </div>
            <div class="col-sm-4">
                {{ form.event_completed.errors }} 
            </div>
        </div>

        <div class="form-group row striped">
            <label class="col-sm-2 col-form-label" for="{{ form.comments.id_for_label }}">{{ form.comments.label }}</label>
            <div class="col-sm-4">
                 {{ form.comments|add_class:"form-control" }} 
            </div>
            <div class="col-sm-4">
                {{ form.comments.errors }} 
            </div>
        </div>

        <div class="form-group row">  
            <div class="col-sm-2">  
                <button type="submit" name="save_and_add_new" value="save_and_add_new" class="btn btn-primary small-vertical-spacing">Save and add new</button>
            </div>
            <div class="col-sm-2">  
                <button type="submit" name="save_and_go_back" value="save_and_go_back" class="btn btn-success small-vertical-spacing">Save and go back</button>  
            </div>
            <div class="col-sm-2">  
                <button type="reset" class="btn btn-default small-vertical-spacing">Cancel</button>
            </div>  
        </div>  

    </div>
</form>
</div>
{% endblock %}

{% block scripts %}
<script>
        $(document).ready(function(){ 
            $("#id_diagnosis").autocomplete({
                source: "/autocomplete_icd10_diagnosis",
                minLength: 2,
                open: function(){
                    setTimeout(function () {
                        $('.ui-autocomplete').css('z-index', 99);
                    }, 0);
                }
            });

            $("#id_secondary_diagnosis").autocomplete({
                source: "/autocomplete_icd10_diagnosis",
                minLength: 2,
                open: function(){
                    setTimeout(function () {
                        $('.ui-autocomplete').css('z-index', 99);
                    }, 0);
                }
            });

            $("#id_other_diagnosis").autocomplete({
                source: "/autocomplete_icd10_diagnosis",
                minLength: 2,
                open: function(){
                    setTimeout(function () {
                        $('.ui-autocomplete').css('z-index', 99);
                    }, 0);
                }
            });

            var date_diff_in_days = function(date1, date2) {
                dt1 = new Date(date1);
                dt2 = new Date(date2);
                return Math.floor((Date.UTC(dt2.getFullYear(), dt2.getMonth(), dt2.getDate()) - Date.UTC(dt1.getFullYear(), dt1.getMonth(), dt1.getDate()) ) /(1000 * 60 * 60 * 24));
            }

            function date_diff_in_months(date1, date2) {
                var diff = (date2.getTime() - date1.getTime()) / 1000;
                diff /= (60 * 60 * 24 * 7 * 4);
                return Math.abs(Math.floor(diff));
            }

            function date_diff_in_years(date1, date2) {
                var diff = (date2.getTime() - date1.getTime()) / 1000;
                diff /= (60 * 60 * 24);
                return Math.abs(Math.floor(diff/365.25));
             }

            $("#id_date_of_birth").datepicker({ 
                dateFormat: 'dd/mm/yy', 
                changeMonth: true,
                changeYear: true,
                minYear: 1930,
                maxYear: parseInt(moment().format('YYYY'),10),
            });

            $("#id_date_of_birth").change(function () {
                var age_in_days = date_diff_in_days(new Date($(this).val()), new Date());
                var age_in_months = date_diff_in_months(new Date($(this).val()), new Date());
                var age_in_years = date_diff_in_years(new Date($(this).val()), new Date());
                $('#id_age_in_days').val(age_in_days);
                $('#id_age_in_months').val(age_in_months);
                $('#id_age_in_years').val(age_in_years);
            }); 

            $("#id_date_of_attendance").datepicker({ 
                dateFormat: 'dd/mm/yy', 
                changeMonth: true,
                changeYear: true,
                minYear: 1930,
                maxYear: parseInt(moment().format('YYYY'),10),
            });



            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-center",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }

            {% if messages %}
                {% for message in messages %}
                    toastr.{{ message.tags }}('{{ message }}')
                {% endfor %}
            {% endif %}

        });
</script>
{% endblock %}