{% extends "app/layout.html" %}

{% block content %}
<div class="container-fluid body-content">
    <center><h3>OPD Events</h3></center>

    <div class="row">
        <div class="col-xs-12 mb-5">
            <label>Start date:</label>
            <input id="startdate" class="datepicker"></input>
            <label>End date:</label>
            <input id="enddate" class="datepicker"></input>
        </div>
    </div>
    

    <table id="eventsDataTable" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Reference Number</th>
                <th>Date of Birth</th>
                <th>Age in Days</th>
                <th>Age in Months</th>
                <th>Age in Years</th>
                <th>Date of Attendance</th>
                <th>Report Date</th>
                <th>Location</th>
                <th>Gender</th>
                <th>Diagnosis</th>
                <th>Secondary Diagnosis</th>
                <th>Other Diagnosis</th>
                <th>Referred From</th>
                <th>Referred To</th>
                <th>Event Completed</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for opd_event in opd_events %}
            <tr>
                <td>{{ opd_event.reference_number }}</td>
                <td>{{ opd_event.date_of_birth }}</td>
                <td>{{ opd_event.age_in_days }}</td>
                <td>{{ opd_event.age_in_months }}</td>
                <td>{{ opd_event.age_in_years }}</td>
                <td>{{ opd_event.date_of_attendance | date:"d/m/Y" }}</td>
                <td>{{ opd_event.created_at | date:"d/m/Y" }}</td>
                <td>{{ opd_event.location }}</td>
                <td>{{ opd_event.gender }}</td>
                <td>{{ opd_event.diagnosis }}</td>
                <td>{{ opd_event.secondary_diagnosis }}</td>
                <td>{{ opd_event.other_diagnosis }}</td>
                <td>{{ opd_event.referred_from }}</td>
                <td>{{ opd_event.referred_to }}</td>
                <td>{{ opd_event.event_completed }}</td>
                <td>
                    <a href="/edit_opd_event/{{ opd_event.id }}"><span class="glyphicon glyphicon-pencil">Edit</span></a>
                    <a href="/delete_opd_event/{{ opd_event.id }}"><span class="glyphicon glyphicon-remove">Delete</span></a>
                </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>

    <br>  
    <br>  

    <center><a href="/create_opd_event" class="btn btn-primary">Add New Record</a> <a href="/export_opd_events" class="btn btn-success">Export CSV</a></center>

</div>
{% endblock %}

{% block scripts %}
<script>
        $(document).ready(function(){ 

            var eventsDataTable = $('#eventsDataTable').DataTable();

            $("#startdate").datepicker({
              "dateFormat": "dd/mm/yy",
              "onSelect": function(date) {  // This handler kicks off the filtering.
                minDateFilter = new Date(date).getTime();
                eventsDataTable.draw(); // Redraw the table with the filtered data.
                console.log(date);
              }
            }).keyup(function() {
              minDateFilter = new Date(this.value).getTime();
              eventsDataTable.draw();
            });

            $("#enddate").datepicker({
              "dateFormat": "dd/mm/yy",
              "onSelect": function(date) {
                maxDateFilter = new Date(date).getTime();
                eventsDataTable.draw();
              }
            }).keyup(function() {
              maxDateFilter = new Date(this.value).getTime();
              eventsDataTable.draw();
            });

            // The below code actually does the date filtering.
            minDateFilter = "";
            maxDateFilter = "";

            $.fn.dataTableExt.afnFiltering.push(
              function(oSettings, aData, iDataIndex) {
                if (typeof aData._date == 'undefined') {
                  aData._date = new Date(aData[6]).getTime();
                }

                if (minDateFilter && !isNaN(minDateFilter)) {
                  if (aData._date < minDateFilter) {
                    return false;
                  }
                }

                if (maxDateFilter && !isNaN(maxDateFilter)) {
                  if (aData._date > maxDateFilter) {
                    return false;
                  }
                }

                return true;
              }
            );

            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-center",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }

            {% if messages %}
                {% for message in messages %}
                    toastr.{{ message.tags }}('{{ message }}')
                {% endfor %}
            {% endif %}
        });
</script>
{% endblock %}